ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
 
    width: 100%;
  }
h1{
  font-family: 'Courier New', Courier, monospace; 
  color: #FAF9F6;
  font-size: 4rem; 
  text-align: center;
}

.recommendations{
  font-family: monospace; 
  color: #FAF9F6;
  font-size: 2rem; 
  white-space: nowrap; 
  position:relative;
  top: -55px; 
  left: 5%;
}

body{
  background-color: #111;
}

.home-image{  
  
  position:relative; top: 80px;
  width: 600px;
  height: auto;
  margin-left: 20px;
  border-radius: 10%;
  top: 5%;
}

.container{
  display: flex;
  align-items: center;
  width: 100%;
}

.track{
  border: 2px solid #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  width: 90%  
}

.track h4, p{
  font-family: monospace; 
  color: #FAF9F6;
  font-size: 2rem; 
  white-space: nowrap; 
  
  
}

.track-image{
  border: 2px solid #fff;
  padding: 1%;
  width: 10%; 
  height: auto;
  margin-left: 2%; 
  margin-right: 2%;
  border-radius: 12px;
}



.tab { 
  font-family: monospace; 
  color: #fff;
  float: left;
  background-color: #04d085;
  border-radius: 10px; 
  display: flex;
  margin-left: 20px; 
  padding: 1px 1px 1px; 
  width: 25%; 
  cursor: pointer;
  align-self: center;
  font-size: 2rem; 
  white-space: nowrap; 
  position: relative;
  left: 8%;
}
.tab:hover{
  background-color: #fc0505;
  transition-duration: 0.5s ;
  border-radius:10px;
}

.form {
    color: #fff;
    position: absolute;
    left: 5%;
}
